<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Enable compression -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- Set MIME types -->
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
      
      <!-- Remove unnecessary headers -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeInSeconds="31536000" />
    </staticContent>

    <!-- Cache settings -->
    <caching>
      <profiles>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="DisableKernelCache" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DynamicContent" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DynamicContent" />
        <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="DisableKernelCache" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DynamicContent" duration="86400" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DynamicContent" duration="86400" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DynamicContent" duration="86400" />
        <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="DynamicContent" duration="86400" />
      </profiles>
    </caching>

    <!-- Custom headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Cache-Control" value="public, must-revalidate" />
      </customHeaders>
    </httpProtocol>

    <!-- URL Rewrite for SPA routing -->
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^index\.html$" ignoreCase="false" />
          <action type="None" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^(assets|css|js|service-worker\.js)" ignoreCase="false" />
          <action type="None" />
        </rule>
        <rule name="Imported Rule 3" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Handle 404 errors -->
    <httpErrors>
      <error statusCode="404" prefixLanguagePath="/errorpages/" path="404.html" />
    </httpErrors>

    <!-- Security settings -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="web.config" />
          <add segment=".htaccess" />
          <add segment=".git" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>

  <!-- Application settings -->
  <appSettings>
    <add key="PWA_ENABLED" value="true" />
    <add key="SERVICE_WORKER_ENABLED" value="true" />
  </appSettings>
</configuration>
